
h1 {
	font: 15px arial, sans-serif;
	font-size: 28px;color: #ff6600;
}

h2 {
	font: 20px arial, sans-serif;
	color: #ff6600;
}

body {
	
    background-image: url("/org.openhs.core.clock.servlet.res/clocksegment/plexiglas.png");    
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;     
}


.canvasScreen {
	position: absolute;
	left: 50%;
	top: 50%;  
    padding: 0;
    /*
    border: 1px solid #ffffff;
    */
    color: transparent; 
    background-color: transparent;
    /*
    outline: none;
    display: block;
    */
    /*
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    */
  /*  border-radius: 50px;*/ 
  /* 
    margin-left:-250px;
	margin-top:-250px;
	*/	
	
/*	background-position:center left, center left;*/
	
}

