<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <encoder>
                <!--pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40}:%msg%n</pattern-->
                <pattern>%d{HH:mm:ss.SSS} %level %logger{5}:%line: %msg%n</pattern>
            </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>openhs.log</file>
            <append>false</append>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40}: %msg%n</pattern>
            </encoder>
    </appender>
    
    <appender name="AUTONETWORK_ALGO_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <Target>System.out</Target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>    
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    
	

    <!-- org.openhs.core.cfg package --> 
    <logger name="org.openhs.core.cfg.OpenhsProps" level="INHERITED">
            <appender-ref ref="FILE" />
    </logger>

    <!-- org.openhs.core.dataupdate package --> 
    <logger name="org.openhs.core.dataupdate.Dataupdate" level="DEBUG">
            <appender-ref ref="FILE" />
    </logger>
	
    <!-- org.openhs.core.dataupdate package --> 
    <logger name="org.openhs.comm.dummy.DummyService" level="DEBUG">
            <appender-ref ref="FILE" />
    </logger>

    <!-- org.openhs.comm.iqrf.json package --> 
    <logger name="org.openhs.comm.iqrf.json.SwitchUpdater" level="DEBUG">
            <appender-ref ref="FILE" />
    </logger>
	
    <!-- org.openhs.comm.mqtt package --> 
    <logger name="org.openhs.comm.mqtt.MqttService" level="DEBUG">
            <appender-ref ref="FILE" />
    </logger>

    <!-- root -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
